body {
  background: #d3d3d3;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
}
.App-header {
  text-align: center;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.7s;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
